{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Person List</h1>
    <ul>
        {% for person in persons %}
            <li>{{ person.name }}</li>
            <li>
                <a href="{% url 'person_detail' pk=person.pk %}">{{ person.name }}</a>
              </li>
        {% endfor %}
    </ul>
</body>
</html>
